<!-- <button mat-raised-button color="warn"> Hello World </button> -->
<mat-toolbar color="primary" class="navbar">
  <div>Covid 19 Survey (Angular Material)</div>
  <div>
    <span><a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/home']">List of houses</a></span>
    <span><a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/home/0/add']">Add house</a></span>
    <span><a routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/home/threat']">Risky house</a></span>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>