<!-- <mat-card class="text-center">
    <mat-card-title>Total Houses = {{totalHome}}</mat-card-title>
    <mat-card-title>Risky Houses = {{total}}</mat-card-title>
</mat-card> -->

<!-- <mat-list role="list" class="text-center">
    <mat-list-item role="listitem">Total Houses = {{totalHome}}</mat-list-item>
    <mat-list-item role="listitem">Risky Houses = {{total}}</mat-list-item>    
</mat-list> -->

<mat-card class="example-card">
    <mat-icon>home</mat-icon>
    <mat-card-content>
      <p>Total Houses = {{totalHome}}</p>
      <p>Risky Houses = {{total}}</p>
    </mat-card-content>
</mat-card>